<match **>
      @type copy
      deep_copy true
      <store>
            @type s3
            aws_key_id "#{ENV['LOGGING-USER']}"
            aws_sec_key "#{ENV['LOGGING_PASSWORD']}"
            s3_bucket "{{ getupcloud_logging_storage_s3_bucket }}"
            s3_region "{{ getupcloud_logging_storage_s3_region }}"
            path "#{ENV['S3_LOGS_BUCKET_PREFIX']}"
            buffer_path /var/log/fluent/s3
            s3_object_key_format %{path}%{time_slice}/{{ getupcloud_cluster_name }}-%{index}.%{file_extension}
            time_slice_format %Y%m%d-%H
            time_slice_wait 10m
            flush_interval 60s
            buffer_chunk_limit 256m
      </store>
</match>