apiVersion: v1
kind: Secret
metadata:
  name: s3-credential
type: Opaque 
data:
  username: "{{ getupcloud_logging_storage_s3_accesskey | b64encode }}"
  password: "{{ getupcloud_logging_storage_s3_secretkey | b64encode}}"
