apiVersion: v1
kind: Config
current-context: admin-cluster.local
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ certificate }}
    server: https://{{api_server}}:443
  name: cluster.local
contexts:
- context:
    cluster: cluster.local
    user: {{ config_user }}
  name: admin-cluster.local
users:
{% for item in config_user %}
- name: {{ item }}
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws-iam-authenticator
      args:
        - "token"
        - "-i"
        - "cluster.local"
        - "-r"
        - "arn:aws:iam::{{ id_aws }}:role/{{config_role}}"
{% endfor %}
